doctype html
html(lang="en")
  head
    include common/head.pug
    title SignBoss - Landing
  body(class="bg-dark text-white")
    div(class="container")
      h1 Welcome to SignBoss!
    include common/bodyfooter.pug