<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('common/head.ejs'); %>
  </head>
  <style>
    .centered {
      max-width: 330px;
      padding: 1rem;
      text-align: center;
    }

    html, body {
      height: 100%;
    }
  </style>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="centered w-100 m-auto">
      <h1>SignBoss</h1>
      <p>Redirecting to sign in... (or click <a href="/auth/login" class="text-reset">here</a>).</p>
    </main>
    <script type="text/javascript">
      setTimeout(function() {
        window.location.href = '/auth/login';
      }, <%- redirectTime %>000);
    </script>
    <%- include ('common/body.ejs'); %>
  </body>
</html>
